<header>
    <!--h1 class="logo" onclick="document.location.href='/';"><a href="/"><img src="/img/logo.png" alt="{{ site.name  }}"></a></h1-->
    <div>
		<div id="textlogo">
			<h1 class="site-name">
				<a href="{{ site.baseurl }}/" title="{{ site.title }}">{{ site.title }}</a>
			</h1>
			<h2 class="blog-motto">{{ site.motto }}</h2>
		</div>
		<nav class="animated">
			<ul>
				<ul>
					<li><a href="{{ site.baseurl }}/" class="active">Home</a></li>
					<!--li><a href="{{site.baseurl}}/archive/"{% if page.url contains "{{site.baseurl}}/archive/" %}class="active"{% endif %} title="Archive posts">Archive</a></li-->
					<!--li><a href="{{site.baseurl}}/tags/"{% if page.url contains "{{site.baseurl}}/tags/" %}class="active"{% endif %} title="Archive posts order by tag">Tags</a></li-->
					<li><a href="{{ site.baseurl }}/about.html" class="active">About</a></li>
					<li>
						<form class="navbar-search pull-right searchbox" action="{{ site.baseurl }}/search.html"  method="get">
							<input name="query" type="text" class="search-query" placeholder="Search">
						</form>
					</li>
				</ul>
			</ul>
		</nav>
	</div>
</header>
