{% if paginator.total_pages > 1 %}
<!-- Pagination: https://gist.github.com/jsw0528/4720584 -->
<div class="pagination">
  {% if paginator.previous_page %}
  <span class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  </span>
  {% else %}
  <span class="previous_disable">
	 <a>&laquo; Prev</a>
  </span>
  {% endif %}
  <span class="pages">
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}
  </span>
  {% if paginator.next_page %}
  <span class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  </span>
  {% else %}
  <span class="next_disable">
	<a>Next &raquo;</a>
  </span>
  {% endif %}
</div>
{% endif %}